 /* Global Styles */
:root{
    --nav_menu_color: rgb(250, 163, 2);
}
body{
    display: flex; 
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: stretch;
    /* align-content: stretch; */
    margin: 0px 0px;
    padding: 0px 0px;
    width: auto;
    height: 100vh;
    
    background-image: url( "../slideshow/img1.jpg");
    background-size: cover;
    /*  跟随页面移动，不会发送滚动  */
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

/* Header Styles */
header {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    z-index: 100;
    /* width: 100%; */
    /*  注意：有下拉菜单  不能隐藏   */
    /* overflow: hidden; */
    /* border: 1px solid rgb(4, 55, 165); */
}
/*  ----------------- 导航栏设计 -----------------------*/
header .nav-menu {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 117, 182);
    color: rgb(255, 255, 255);
    margin: 0px 0px;
    padding: 0px 10px;
    /* padding-right: 50px; */
    height: 50px;
    width: auto;
    /* border: 1px solid rgb(165, 76, 4); */
}
/*  logo 设计   */
header .div-header-logo{
    display: flex; /* 将 logo 和标题设置为弹性布局 */
    flex: 0 2 auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   /*    居中*/
    z-index: 100;
    margin-left: 15px;
    margin-right: 5px;
    width: auto;
    height: 100%;
    max-width: 380px; 
    min-width: 80px;
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    font-family: '宋体'; 
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* block-size: auto; */
     /* border: 1px solid rgb(114, 112, 133); */
}
header .div-header-logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;  /*  2px 50% */
    /* border: 2px solid #73AD21; */
    /*  添加动画  */
    transform: translate3d(0, 0, 0);
    animation-name: header-logo;
    animation-duration: 2s;   /*   持续时间  */
    animation-delay: 0.5s;      /* 开始延迟时间  */
}
/*  动画设计  */
@keyframes header-logo {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.2);}
    50%  {transform: scale(0.8);}
    75%  {transform: scale(1.5);}
    100% {transform: scale(1);}
  }

/*  以下是导航菜单的设计  */
header .ul-menu {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /*  外边距   */
    margin: 0px 0px;
    margin-left: auto;
    /*  内边距   */
    padding: 0px 0px;
    width: auto;
    /*  注意：有下拉菜单，注意高度限制  */
    min-height: 80%;
    /* border: 1px solid rgb(226, 191, 163); */
}

header .header-menu {
    display: flex;
    position: relative;
    margin: 0px 0px;
    padding: 0px 5px;
    text-align: center;
    /* 均匀分为四等份，根据实际情况调整 */
    width: auto; 
    /* 边界距离 */
    /* border: 1px solid rgb(201, 219, 38); */
}
/*  导航栏所有 a 对象的字体控制  */
header .ul-menu a{
    font-weight: normal;
    margin: 0px 0px;
    padding: 0px 0px;
    max-width: 100%;
    font-family: '宋体'; 
    font-size: 20px;
    /*  不允许换行，否者导航栏缩短会出现菜单变成多行 */
    white-space: nowrap;  
    /*  有动态下划线，不要隐藏  */
    /* overflow: hidden; */
    /* border: 1px solid rgb(56, 38, 219); */
    
}

/*  导航栏内容格式设置  */
header .header-menu > a.menu { 
    color: var(--nav_menu_color); /*rgb(250, 163, 2);*/
    text-decoration: none;
    position: relative;
    margin: 0px 5px;
    /* font-family: "New Time Roman"; */
    font-size: 20px;
    font-weight: bold;
    transition: font-size 0.3s ease-in-out, color 0.2s ease-in-out;
}

header .header-menu > .menu:hover {
    font-size: 130%;
    color: #02fad1;
}

header .header-menu > .menu::after {
    /* 导航按钮下方的彩色横线 */
    content: "";
    display: flex;
    position: absolute;
    bottom: -3px;
    /* left: 0; */
    width: 100%;
    height: 2px;
    max-height: 3px;
    background-color: rgb(20, 255, 78);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
    /*  出现效果  */
}

header .header-menu > .menu:hover::after,
/* 导航按钮下方的彩色横线：设置鼠标划过和点击的出现效果 */
header .header-menu > .menu:focus::after 
{
    transform: scaleX(1.0);
}


header .ul-menu{
    margin-right: 30px;
}
header .div-menu-key{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5px;
    /* min-height: 100%; */
    width: auto;
    min-width: 50px;
    min-height: 50px;
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 10px;
    
    /* border: 1px solid rgb(224, 34, 9); */
    /* overflow: hidden; */
}
header .a-header-svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    /* width: 100%; */
    /* height: 100%;  */
    padding: 0px 0px;
    /* padding-left: 10px; */
    margin: 0px 0px;
    object-fit: contain;
    object-position: left; 
    cursor: pointer; 
    
    /* border: 1px solid rgb(219, 38, 47); */
}
header img.header-svg-icon{
    width: 22px;
    height: 22px;
    object-fit: contain;
    object-position: center; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out; /* 添加过渡效果 */
}
header img.header-svg-icon:hover {
    transform: scale(1.5); /* 将 SVG 图标放大 10% */
    
}


/* ------------- 下拉菜单设置 ---------------- */

/*  添加下拉标识图标  */
header .dropdown-icon::after {
    content: "\27A2";
    display: flex;
    position: relative;
    /* margin-left: -5px; */
    width: 16px;
    height: 16px;
    color: rgb(221, 221, 221);
    transform: translate(-30%, 0%) rotateY(60deg);
    -ms-transform: translate(-30%, 0%) rotateY(60deg); /* IE 9 */
    -webkit-transform: translate(-30%, 0%) rotateY(60deg);  /* Safari and Chrome  */
    transition: transform 0.2s ease-in-out; /* 添加过渡效果 */
}
header .header-menu:hover > .dropdown-icon::after{
    transform: translate(10%, 60%) rotateX(50deg) rotate(90deg);
    -ms-transform: translate(10%, 60%) rotateX(50deg) rotate(90deg); /* IE 9 */
    -webkit-transform: translate(10%, 60%) rotateX(50deg) rotate(90deg);  /* Safari and Chrome  */
    color: yellow;
}

header .ul-dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    z-index: 101;
    top: calc(100% + 10px);
    width: 100%;
    height: auto;
    
    margin: 0px 0px;
    padding: 2px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    
}

header .ul-dropdown li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    padding: 6px 0px;
    width: calc(100% - 8px);
    transition: background-color 0.2s ease-in-out;
    /* border: 1px solid rgb(56, 38, 219); */
}

header .ul-dropdown .menu {
    margin: 0px 0px;
    padding: 0px 0px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    position: relative;
    /* font-family: "New Time Roman"; */
    font-size: 16px;
    /* border: 1px solid rgb(14, 143, 83); */
    /* transition: font-size 0.3s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out; */
}

header .ul-dropdown li:hover {
    /* font-size: 110%;
    color: #02fad1; */
    font-weight: bold;
    background-color: rgb(202, 250, 218);
    text-decoration: underline;
    text-decoration-color: green;
    /* border-bottom: 2px solid gold;  */  /*  列表的下划线，不是文字下划线  */
}

@media (max-width: 800px) {
    header .ul-menu{
        display: none;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: -20px;
        transform: translateY(50px);
        z-index: 100;
        padding: 10px 20px;
        background-color: rgb(28, 122, 177);
    }
    header .header-menu{
        padding: 3px 10px;
    }
    header .ul-dropdown{
        display: none;
        transform: translateX(calc(-100% - 10px)) translateY(calc(-50%));
    }
    /*   header nav .div-menu-key .a-header-svg-icon   */
    header .div-menu-key:hover .ul-menu{
        display: block;
        border: 2px solid rgb(44, 114, 161);
    }
} 







/* ----------------- 图像的轮播功能  ------------------ */
div.div-slideshow-container {
    width: 100%;
    display: block;
    margin-left: auto;
    min-width: 100px;
    position: relative;
    overflow: hidden;
}
div.div-slideshow-container .slideshow { 
    /* position: relative; */
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    /* transition: transform 0.6s ease-in-out; */
}
div.div-slideshow-container .slideshow img {
    display: block;
    /* relative： 会依次占坑 absolute: 据对定位，堆叠呈现   */
    position: absolute; 
    /* z-index: 0; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: inherit;
    width: inherit; */
    /* opacity: 0; */
    /* animation: slide 5s infinite; */
    object-fit: fill;  
    /*  object-fit:
        fill: 图片会填满整个元素，可能会被拉伸或压缩以适应元素的宽高比。
        contain: 图片会适应元素的宽高比，同时保持图片的原始宽高比不变，有可能会留白。
        cover: 图片会完全覆盖元素，可能会被裁剪。
        none: 图片会按照原始尺寸显示，可能会超出元素的范围。
        scale-down: 图片会根据宽高比进行缩放，但是它的大小不会超过元素的大小。 
    */
    transition: transform 1.2s ease-in-out;
}
div.div-slideshow-container .prev, div.div-slideshow-container .next { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    display: inline;
    padding: 6px;    /*  外圈椭圆轮廓*/
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    background-color: rgb(42, 129, 201);
    color: lawngreen;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
}
div.div-slideshow-container .prev {
    left: 15px;
}

div.div-slideshow-container .next {
    right: 15px;
}
div.div-slideshow-container:hover > .prev,
 div.div-slideshow-container:hover > .next,
 div.div-slideshow-container:hover > div.slider-dots{
    opacity: 0.6;
}
div.div-slideshow-container div.slider-dots {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)  translate3d(0, 0, 0);
    z-index: 4;
    display: flex;
    justify-content: center;
    opacity: 0.3;
}

div.div-slideshow-container div.slider-dots .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}

div.div-slideshow-container div.slider-dots .dot.active {
    background-color: rgb(7, 247, 147);
}
  




/* ------------------  Main Content Styles   ---------------------------- */
main {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    /*  这里的最小值需要兼容 其他界面 的最小值，否者iframe会出现水平滚动条  */
    min-width: 200px;
    width: calc(100% - 20px);
    
    margin: 0px 0px;
    padding: 10px 10px;
    font-size: 20;
    background-color: #01847f;
    /* background-color: transparent; 设置背景透明 */
    /* opacity: 0.5; */
    overflow: hidden;
}


h1, h2 {
    margin-top: 20px;
}

main .div-main-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1480px;
    height: 100%;
    padding: 10px 10px;  
    margin: 0px 0px;
    box-sizing: border-box;

    font-size: 20;
    overflow: hidden;
    border: 1px solid rgb(139, 139, 146);
}

main .div-main-content .div-resume{  /*  首页文本控制  */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: left;
    z-index: 0;
    padding: 20px 20px;
    width: auto;
    height: auto;
    /* background-color: rgb(193, 193, 240); */
    color: black;
    text-align: left;  /*  由于h1等元素的宽度是100%，靠左显示只能是从这里控制  */
}

main .div-main-content .div-resume p{
    margin: 10px 20px;
    font-size: large;
    font-display: ture;
}


main .div-main-content #my_frame{
    position: relative;
    /* width: calc(100%); */
    max-width: 100%;
    /* min-width: 100%; */
    height: 100%;
    border: none;
    /*  iframe 读取链接时会传递自身尺寸信息，因此，需要把自身尺寸缩小，保证不会出现水平滚动条  */
    padding: 0px 0px;  
    margin: 0px 0px;
    overflow: hidden;
    background-color: #01847f;
    /* overflow-x: hidden; */
    /* zoom: 0.95; */
    /* transform: scale(0.95); */
    /* border: 1px solid rgb(27, 8, 202); */
}


/* Footer Styles */
footer {
    display: flex;
    position: relative;
    justify-content: center;
    /* width: 100%; */
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
}